@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;
@use '../abstracts/mixins.scss' as mix;
.nav__hamburger {
    @include mix.respond('x-lg') {
        display: none;
    }
}
.nav__hamburger--icon {
    font-size: func.pxToRem(47px);
    display: inline-block;
    background-color: transparent;
    border: none;
    @include mix.respond('x-lg') {
        display: none;
    }
}
.nav__buttons--close {
    background-color: transparent;
    border: none;
}
.nav__links {
    ul {
        padding: 0 0;
    }
    li {
        padding: func.pxToRem(20px) func.pxToRem(15px);
        @include mix.respond('m') {
            padding: func.pxToRem(30px) func.pxToRem(50px);
        }
        @include mix.respond('lg') {
            padding: func.pxToRem(30px) func.pxToRem(50px);
        }
        @include mix.respond('x-lg') {
            padding: func.pxToRem(20px) func.pxToRem(20px);
        }
    }
}

.nav__collapsed--menu {
    background-color: var.$white;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.212);
    line-height: func.pxToRem(30px);
    height: 100%;
    width: 0;
    top: 0;
    position: fixed;
    overflow-x: hidden;
    transition: 1s;
    @include mix.respond('sm') {
        right: 0;
    }
    @include mix.respond('m') {
        left: 0;
    }
    @include mix.respond('lg') {
        left: 0;
    }
}
.opened-menu {
    width: 20%;
}
img {
    height: func.pxToRem(40px);
}
.nav__container {
    @include mix.flexbox;
    margin: func.pxToRem(25px) auto;
    width: 100%;
    padding: func.pxToRem(32px) func.pxToRem(50px);
    @include mix.respond('sm') {
        flex-direction: row-reverse;
        padding: func.pxToRem(9px) func.pxToRem(15px);
    }
    @include mix.respond('lg') {
        padding: func.pxToRem(9px) func.pxToRem(50px);
    }
}
.nav__buttons {
    @include mix.flexbox;
    margin-right: func.pxToRem(50px);
    @include mix.respond('sm') {
        flex-direction: column;
        gap: func.pxToRem(20px);
    }
    @include mix.respond('m') {
        margin-right: func.pxToRem(10px);
    }
    @include mix.respond('lg') {
        margin-right: func.pxToRem(10px);
    }
}
.cross-icon {
    padding: 0 func.pxToRem(15px);
    cursor: pointer;
}
.nav__logo {
    @include mix.respond('sm') {
        margin-left: 0;
    }
    @include mix.respond('lg') {
        margin-left: func.pxToRem(200px);
    }
    @include mix.respond('x-lg') {
        margin-left: func.pxToRem(100px);
    }
}
#navLinks {
    @include mix.respond('x-lg') {
        @include mix.flexbox();
        gap: func.pxToRem(24px);
    }
}
//tablet
// @media screen and (min-width: 481px) and (max-width: 768px) {
//     .nav__collapsed--menu {
//         left: 0;
//     }
//     .nav__buttons {
//         margin-right: func.pxToRem(10px);
//     }
//     .nav__links {
//         li {
//             padding: func.pxToRem(30px) func.pxToRem(50px);
//         }
//     }
// }
// @media screen and (min-width: 769px) and (max-width: 1024px) {
//     .nav__collapsed--menu {
//         left: 0;
//     }
//     .nav__container {
//         padding: func.pxToRem(9px) func.pxToRem(50px);
//     }
//     .nav__logo {
//         margin-left: func.pxToRem(200px);
//     }
//     .nav__buttons {
//         margin-right: func.pxToRem(10px);
//     }
//     .nav__links {
//         li {
//             padding: func.pxToRem(30px) func.pxToRem(50px);
//         }
//     }
// }
//desktop
// @media screen and (min-width: 1025px) {
//     .nav__logo {
//         margin-left: func.pxToRem(100px);
//     }
//     .nav__hamburger--icon {
//         display: none;
//     }
//     .nav__hamburger {
//         display: none;
//     }
//     #navLinks {
//         @include mix.flexbox();
//         gap: func.pxToRem(24px);
//     }
//     li {
//         padding: func.pxToRem(20px) func.pxToRem(20px);
//     }
// }
