@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;
@use '../abstracts//mixins' as mix;
.features {
    margin: func.pxToRem(112px) auto;
    max-width: func.pxToRem(320px);
    &--paragraph {
        padding: 15px 5px;
    }

    // Responsive styles
    @include mix.respond('xs') {
        max-width: func.pxToRem(350px);
    }
    @include mix.respond('lg') {
        max-width: func.pxToRem(896px);
    }
    @include mix.respond('xl') {
        @include mix.flexbox($direction: row-reverse);
        max-width: func.pxToRem(1321px);
    }

    // Content of features section
    &__content {
        @include mix.flexbox($direction: column);
        padding-top: func.pxToRem(98px);
        row-gap: func.pxToRem(16px);
        text-align: center;
        @include mix.respond('xs') {
            max-width: func.pxToRem(334px);
        }
        @include mix.respond('lg') {
            padding-top: func.pxToRem(80px);
            max-width: func.pxToRem(896px);
        }
        @include mix.respond('xl') {
            max-width: func.pxToRem(558px);
            align-items: flex-start;
            text-align: left;
            padding-top: 0;
        }
    }

    // Cards container in features section
    &__cards {
        @include mix.flexbox($direction: column);
        row-gap: func.pxToRem(16px);
        padding-top: func.pxToRem(10px);
        @include mix.respond('lg') {
            max-width: func.pxToRem(832px);
            width: 100%;
            padding-top: func.pxToRem(26px);
            row-gap: 0;
        }
    }

    // Individual feature card
    &__card {
        @include mix.flexbox($align: flex-start, $direction: column);
        width: 100%;
        padding: func.pxToRem(32px);
        text-align: left;
        row-gap: func.pxToRem(8px);
        @include mix.respond('lg') {
            @include mix.flexbox($justify: flex-start);
            column-gap: func.pxToRem(32px);
        }
    }

    &__card:nth-child(2) {
        border: 1px solid var.$border-color;
        border-radius: func.pxToRem(32px);
    }

    // Subheading for feature cards
    &__card-subheading {
        padding-top: func.pxToRem(24px);
    }

    // Image in feature cards
    &__img {
        @include mix.respond('lg') {
            max-width: func.pxToRem(693px);
            margin: 0 auto;
        }
        @include mix.respond('xl') {
            max-width: func.pxToRem(650px);
            width: 100%;
        }
        img {
            width: 100%;
        }
    }
}
.paragraph--features {
    padding-right: func.pxToRem(50px);
}
