@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;
@use '../abstracts/mixins' as mix;
.newsletter {
    max-width: func.pxToRem(334);
    text-align: center;
    margin-top: func.pxToRem(170);
    position: relative;

    // Responsive styles
    @include mix.respond('lg') {
        max-width: var.$maxWidth-lg;
        background-color: var.$light-yellow;
        padding: func.pxToRem(128) func.pxToRem(64);
        margin-top: func.pxToRem(104);
    }
    @include mix.respond('xl') {
        max-width: var.$maxWidth-xl;
        margin-top: func.pxToRem(160);
    }

    // Content of newsletter section
    &__content {
        @include mix.flexbox($direction: column);
        gap: func.pxToRem(28);
        @include mix.respond('lg') {
            max-width: func.pxToRem(769);
        }
        @include mix.respond('xl') {
            max-width: func.pxToRem(1065);
        }
    }

    // Heading of newsletter content section
    &__heading {
        padding: 0 func.pxToRem(16);
        line-height: 1.2;
    }

    // Form of newsletter section
    &__form {
        @include mix.flexbox($direction: column);
        width: 100%;
        gap: func.pxToRem(32);
        @include mix.respond('lg') {
            @include mix.flexbox();
            padding-top: func.pxToRem(30);
        }

        // Wrapper for the email input in newsletter section's form
        &-email {
            @include mix.flexbox();
            gap: func.pxToRem(16);
            width: 100%;
            padding: func.pxToRem(24) func.pxToRem(32);
            margin-top: func.pxToRem(28);
            background-color: var.$white;
            @include mix.respond('lg') {
                width: func.pxToRem(502);
                height: func.pxToRem(96);
                border-radius: func.pxToRem(32);
                margin-top: 0;
            }
            @include mix.respond('xl') {
                width: func.pxToRem(765);
            }
        }

        // Email icon present in the input of newsletter section's form
        &-icon {
            font-size: func.pxToRem(24);
            @include mix.respond('lg') {
                font-size: func.pxToRem(32);
            }
        }

        // Input box for email present in newsletter section's form
        &-input {
            border: none;
            width: 100%;
            &:focus {
                outline: none;
            }
        }
    }

    // Dots image present along the top-left edge of newsletter section
    &__dots {
        position: absolute;
        top: func.pxToRem(-48);
        left: func.pxToRem(-38);
        display: none;
        @include mix.respond('lg') {
            display: block;
        }
        @include mix.respond('xl') {
            opacity: 0.2;
        }
    }

    // Object present along the top-right edge of newsletter section
    &__object {
        position: absolute;
        top: func.pxToRem(-326);
        right: func.pxToRem(-62);
        display: none;
        @include mix.respond('lg') {
            display: block;
        }
        @include mix.respond('xl') {
            top: func.pxToRem(500);
            right: func.pxToRem(-122);
        }
    }
}
