@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;
@use '../abstracts/mixins' as mix;
.newsletter {
    max-width: func.pxToRem(334);
    text-align: center;
    margin-top: func.pxToRem(170);
    position: relative;

    // Responsive styles
    @include mix.respond('lg') {
        max-width: var.$maxWidth-lg;
        background-color: var.$light-yellow;
        padding: func.pxToRem(128) func.pxToRem(64);
        margin-top: func.pxToRem(104);
    }
    @include mix.respond('xl') {
        max-width: var.$maxWidth-xl;
        margin-top: func.pxToRem(160);
    }

    // Content of newsletter section
    &__content {
        @include mix.flexbox($direction: column);
        gap: func.pxToRem(28);
        @include mix.respond('lg') {
            max-width: func.pxToRem(769);
        }
        @include mix.respond('xl') {
            max-width: func.pxToRem(1065);
        }
    }

    // Heading of newsletter content section
    &__heading {
        padding: 0 func.pxToRem(16);
        line-height: 1.2;
    }

    // Dots image present along the top-left edge of newsletter section
    &__dots {
        position: absolute;
        top: func.pxToRem(-48);
        left: func.pxToRem(-38);
        display: none;
        @include mix.respond('lg') {
            display: block;
        }
        @include mix.respond('xl') {
            opacity: 0.2;
        }
    }

    // Object present along the top-right edge of newsletter section
    &__object {
        position: absolute;
        top: func.pxToRem(-326);
        right: func.pxToRem(-62);
        display: none;
        @include mix.respond('lg') {
            display: block;
        }
        @include mix.respond('xl') {
            top: func.pxToRem(500);
            right: func.pxToRem(-122);
        }
    }
}
