@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;
@use '../abstracts/mixins' as mix;

.services {
    @include mix.flexbox($direction: column);
    text-align: center;
    margin-top: func.pxToRem(14);
    row-gap: func.pxToRem(32);
    @include mix.respond('sm') {
        margin-top: func.pxToRem(45);
        row-gap: func.pxToRem(64);
    }
    @include mix.respond('xl') {
        flex-direction: row;
    }

    // Service section headings
    &__headings {
        @include mix.flexbox($direction: column);
        row-gap: func.pxToRem(13);
        max-width: func.pxToRem(398);
        @include mix.respond('lg') {
            max-width: func.pxToRem(896);
        }
        @include mix.respond('xl') {
            align-items: flex-start;
            text-align: left;
            max-width: func.pxToRem(400);
            margin-left: func.pxToRem(130);
        }
    }

    // Container of cards in service section
    &__cards {
        @include mix.flexbox($direction: column);
        align-items: stretch;
        row-gap: func.pxToRem(16);
        max-width: func.pxToRem(398);

        // Individual card of service section
        & .service__card {
            @include mix.flexbox($direction: column);
            width: 100%;
            row-gap: func.pxToRem(30);
            padding: func.pxToRem(32) func.pxToRem(50);
            border-radius: func.pxToRem(32);
            border: 0.5px solid lighten(var.$muted-text-color, 60%);
            @include mix.respond('sm') {
                padding: func.pxToRem(64) func.pxToRem(34) func.pxToRem(32)
                    func.pxToRem(34);
                row-gap: func.pxToRem(16);
            }
            @include mix.respond('md') {
                padding: func.pxToRem(64) func.pxToRem(64) func.pxToRem(32)
                    func.pxToRem(64);
            }
            @include mix.respond('xl') {
                padding: func.pxToRem(74) func.pxToRem(64) func.pxToRem(94)
                    func.pxToRem(64);
            }

            &:hover {
                box-shadow: 0 20px 20px rgba(0, 0, 0, 0.065);
            }
        }

        // Image in individual service card
        img {
            width: func.pxToRem(64);
            height: auto;
        }

        // Responsive styles
        @include mix.respond('sm') {
            @include mix.flexbox($direction: row);
            align-items: stretch;
            justify-content: flex-start;
            max-width: func.pxToRem(596);
            column-gap: func.pxToRem(16);
        }
        @include mix.respond('md') {
            @include mix.flexbox($direction: row);
            align-items: stretch;
            justify-content: flex-start;
            max-width: func.pxToRem(896);
        }
        @include mix.respond('xl') {
            flex-direction: row;
            max-width: func.pxToRem(793);
            column-gap: func.pxToRem(21);
            align-items: stretch;
            margin-right: func.pxToRem(100);
        }
    }
}

.service__card:nth-child(3) {
    @include mix.respond('xl') {
        display: none;
    }
}

// Subheading of the cards present in service section
.card-subheading {
    &--services {
        @include mix.respond('sm') {
            padding-top: func.pxToRem(14);
        }
        @include mix.respond('md') {
            padding-top: func.pxToRem(34);
        }
    }
}

.paragraph {
    &--services {
        @include mix.respond('lg') {
            padding-top: func.pxToRem(10);
        }
    }
}
.services--heading {
    line-height: 1.2;
}
