@use '../abstracts/variables' as v;
@use '../abstracts/functions' as f;
@use '../abstracts//mixins' as m;

.services {
    @include m.flexbox($direction: column);
    text-align: center;
    @include m.section-spacing(14px);
    row-gap: f.pxToRem(32px);
}
.services__headings {
    @include m.flexbox($direction: column);
    row-gap: f.pxToRem(13px);
}
.services__cards {
    @include m.flexbox($direction: column);
    align-items: stretch;
    row-gap: f.pxToRem(16px);
    max-width: f.pxToRem(398px);
    & .service--card {
        @include m.flexbox($direction: column);
        width: 100%;
        row-gap: f.pxToRem(30px);
        padding: f.pxToRem(32px) f.pxToRem(35px);
        border-radius: f.pxToRem(32px);
        border: 0.5px solid lighten(v.$muted-text-color, 60%);
        &.service--booking-card {
            box-shadow: 0 20px 20px rgba(0, 0, 0, 0.065);
        }
    }
    img {
        width: f.pxToRem(64px);
        height: auto;
    }
}
@media screen and (min-width: 481px) and (max-width: 815px) {
    .services {
        @include m.section-spacing(45px);
        row-gap: f.pxToRem(64px);
    }
    .services__cards {
        @include m.flexbox($direction: row);
        align-items: stretch;
        justify-content: flex-start;
        max-width: f.pxToRem(596px);
        column-gap: f.pxToRem(16px);
        & .service--card {
            padding: f.pxToRem(64px) f.pxToRem(34px) f.pxToRem(32px)
                f.pxToRem(34px);
            row-gap: f.pxToRem(16px);
        }
    }
    .card-subheading {
        &.services--subheading {
            padding-top: f.pxToRem(14px);
        }
    }
}
@media screen and (min-width: 815px) and (max-width: 1024px) {
    .services {
        @include m.section-spacing(45px);
        row-gap: f.pxToRem(64px);
    }
    .services__cards {
        @include m.flexbox($direction: row);
        align-items: stretch;
        justify-content: flex-start;
        max-width: f.pxToRem(896px);
        column-gap: f.pxToRem(16px);
        & .service--card {
            padding: f.pxToRem(64px) f.pxToRem(64px) f.pxToRem(32px)
                f.pxToRem(64px);
        }
    }
    .card-subheading {
        &.services--subheading {
            padding-top: f.pxToRem(24px);
        }
    }
}
@media screen and (min-width: 1025px) {
    .services {
        flex-direction: row;
    }
    .services__cards {
        flex-direction: row;
        max-width: f.pxToRem(793px);
        column-gap: f.pxToRem(21px);
        align-items: stretch;
        margin-right: f.pxToRem(100px);
        & .service--card {
            padding: f.pxToRem(74px) f.pxToRem(64px) f.pxToRem(94px)
                f.pxToRem(64px);
        }
    }
    .service--card:nth-child(3) {
        display: none;
    }
    .services__headings {
        align-items: flex-start;
        text-align: left;
        max-width: f.pxToRem(400px);
        margin-left: f.pxToRem(115px);
    }
    .card-subheading {
        &.services--subheading {
            padding-top: f.pxToRem(34px);
        }
    }
}
