@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;
@use '../abstracts/mixins' as mix;

.testimonial {
    position: relative;
    margin-top: func.pxToRem(96);
    @include mix.flexbox($direction: column);
    @include mix.respond('lg') {
        background: url('/assets/images/testimonial-bg.webp') no-repeat center;
        background-size: cover;
        margin-top: func.pxToRem(138);
    }
    @include mix.respond('xl') {
        margin-top: func.pxToRem(60);
    }
    &__slide {
        @include mix.flexbox($direction: column);
        gap: func.pxToRem(64);
        width: 100%;
        text-align: center;
        margin-bottom: func.pxToRem(10);
        @include mix.respond('lg') {
            gap: func.pxToRem(60);
        }
        @include mix.respond('xl') {
            gap: func.pxToRem(58);
        }
    }
    &__track {
        max-width: func.pxToRem(310);
        margin-top: func.pxToRem(64);
        @include mix.respond('xs') {
            max-width: var.$maxWidth-sm;
        }
        @include mix.respond('lg') {
            max-width: func.pxToRem(584);
            margin-top: func.pxToRem(44);
        }
        @include mix.respond('xl') {
            max-width: func.pxToRem(880);
        }
    }
    &__title {
        @include mix.flexbox($direction: column);
        gap: func.pxToRem(32);
    }
    &__arrows {
        width: 100%;
        position: absolute;
        top: 100%;
        margin-top: func.pxToRem(74);
        @include mix.respond('lg') {
            width: 90%;
            top: 50%;
            margin-top: 0;
        }
    }
    &__heading {
        padding-top: func.pxToRem(10);
    }
    &__paragraph {
        @include mix.respond('xl') {
            margin: 0 func.pxToRem(20);
        }
    }
    &__stars {
        @include mix.flexbox();
        gap: func.pxToRem(16);
        font-size: func.pxToRem(32);
    }
    &__pagination {
        @include mix.flexbox();
        margin-top: func.pxToRem(74);
        gap: func.pxToRem(24);
        @include mix.respond('lg') {
            margin-top: func.pxToRem(64);
        }
        &__page {
            height: 24px;
            width: 24px;
            border-radius: 50%;
            border: none;
            &.is-active {
                background-color: var.$highlight-color;
            }
        }
    }
}

.splide {
    &__pagination {
        position: absolute;
        top: 100%;
    }
    &__arrow {
        &.testimonial {
            &__arrow {
                &--next {
                    background-color: var.$primary-color;
                    height: func.pxToRem(64);
                    width: func.pxToRem(64);
                    @include mix.respond('lg') {
                        height: func.pxToRem(100);
                        width: func.pxToRem(100);
                    }
                }
                &--prev {
                    background-color: var.$white;
                    border: 1px solid var.$border-color;
                    height: func.pxToRem(64);
                    width: func.pxToRem(64);
                    @include mix.respond('lg') {
                        height: func.pxToRem(100);
                        width: func.pxToRem(100);
                    }
                }
            }
        }
    }
}
.icon-arrow-left,
.icon-arrow-right {
    font-size: func.pxToRem(24);
}
