@use '../abstracts/functions' as func;
@use '../abstracts/mixins' as mix;
@use '../abstracts/variables' as var;
.travel {
    @include mix.flexbox($direction: column);
    margin-top: func.pxToRem(74);
    row-gap: func.pxToRem(25);
    position: relative;
    @include mix.respond('sm') {
        margin-top: func.pxToRem(130);
        margin-left: func.pxToRem(30);
        row-gap: func.pxToRem(64);
    }
    @include mix.respond('lg') {
        margin-left: auto;
    }
    @include mix.respond('xl') {
        margin-top: func.pxToRem(116);
        @include mix.flexbox($direction: row);
    }

    // Image in travel section
    &__image__container {
        max-width: var.$maxWidth-sm;
        @include mix.respond('sm') {
            max-width: func.pxToRem(871);
            width: 100%;
        }
    }

    &__image {
        width: 100%;
        height: auto;
    }

    // Content in travel section
    &__content {
        @include mix.flexbox($direction: column);
        text-align: center;
        margin-top: func.pxToRem(8);
        gap: func.pxToRem(14);
        @include mix.respond('sm') {
            max-width: var.$maxWidth-lg;
        }
        @include mix.respond('lg') {
            margin-top: 0;
            gap: func.pxToRem(6);
        }
        @include mix.respond('xl') {
            align-items: flex-start;
            max-width: func.pxToRem(450);
            text-align: left;
            margin-right: func.pxToRem(114);
            margin-top: func.pxToRem(18);
        }
    }
    // Paragraph of travel section
    &--paragraph {
        padding: func.pxToRem(20);
        @include mix.respond('sm') {
            padding: func.pxToRem(25) func.pxToRem(32);
        }
        @include mix.respond('xl') {
            padding: func.pxToRem(25) 0;
        }
    }

    // Container of cards in travel section
    &__cards__container {
        @include mix.flexbox($direction: column);
        width: 100%;
        max-width: var.$maxWidth-sm;
        gap: func.pxToRem(16);

        // Individual card of travel section
        .travel__card {
            @include mix.flexbox($direction: column);
            row-gap: func.pxToRem(5);
            width: 100%;
            border-radius: func.pxToRem(32);
            padding: func.pxToRem(32) 0;
            border: 0.5px solid lighten(var.$muted-text-color, 60%);
            @include mix.respond('sm') {
                width: 48%;
            }
        }
        @include mix.respond('sm') {
            @include mix.flexbox($direction: row);
            max-width: func.pxToRem(832);
            flex-wrap: wrap;
            row-gap: func.pxToRem(32);
            margin-top: func.pxToRem(40);
        }

        @include mix.respond('lg') {
            margin-top: func.pxToRem(36);
        }
    }

    &__sticker {
        &-container {
            position: absolute;
            top: 256px;
            right: 0;
            display: none;
            @include mix.respond('xl') {
                display: block;
            }
        }
    }
}
