@use '../abstracts/functions.scss' as func;
@use '../abstracts/mixins.scss' as mix;
@use '../abstracts/variables.scss' as var;

.btn-base {
    width: func.pxToRem(115px);
    height: func.pxToRem(49px);
    border-radius: func.pxToRem(100px);
    padding: func.pxToRem(16px) func.pxToRem(32px);
    border: none;
    font-weight: bold;
    &.btn-active {
        background-color: var.$primary-color;
        color: var.$white;
    }
    &.btn-outlined {
        background-color: var.$white;
        color: var.$black;
    }
}
