@use '../abstracts/functions.scss' as f;
@use '../abstracts/mixins.scss' as m;
@use '../abstracts/variables.scss' as v;
//Signup button
.btn-primary {
    background-color: v.$primary-color;
    color: v.$secondary-text-color;
    border-radius: f.pxToRem(100px);
    border: none;
    font-weight: bold;
    padding: f.pxToRem(16px) f.pxToRem(32px);
    height: f.pxToRem(49px);
    width: f.pxToRem(115px);
}
//Login buttons
.btn-secondary {
    background-color: v.$secondary-color;
    color: v.$text-color;
    border-radius: f.pxToRem(100px);
    border: none;
    font-weight: bold;
    padding: f.pxToRem(16px) f.pxToRem(32px);
    height: f.pxToRem(49px);
    width: f.pxToRem(115px);
    font-size: f.pxToRem(14px);
}
//subscribe button
.btn-subscribe {
    background-color: v.$primary-color;
    color: v.$secondary-text-color;
    border-radius: f.pxToRem(32px);
    border: none;
    font-weight: bold;
    padding: f.pxToRem(32px) f.pxToRem(64px);
    height: f.pxToRem(96px);
    width: f.pxToRem(235px);
    font-size: f.pxToRem(23px);
}
