@use '../abstracts/functions.scss' as f;
@use '../abstracts/mixins.scss' as m;
@use '../abstracts/variables.scss' as v;
//Signup button
.btn-primary {
    @include m.btn-base(v.$primary-color, v.$secondary-color, 115px, 49px);
}
//Login buttons
.btn-secondary {
    @include m.btn-base(v.$secondary-color, v.$text-color, 115px, 49px);
}
//subscribe button
.btn-subscribe {
    @include m.btn-base(
        v.$primary-color,
        v.$secondary-color,
        235px,
        96px,
        32px,
        32px,
        64px
    );
    background-color: v.$primary-color;
    color: v.$secondary-text-color;
    border-radius: f.pxToRem(32px);
    border: none;
    font-weight: bold;
    padding: f.pxToRem(32px) f.pxToRem(64px);
    height: f.pxToRem(96px);
    width: f.pxToRem(235px);
    font-size: f.pxToRem(23px);
}
