@use './functions.scss' as func;
@use './variables.scss' as var;

// Mixin for media queries
@mixin breakpoint($name) {
    @if not map-has-key(var.$breakpoints, $name) {
        @warn "Warning: `#{$name}` is not a valid breakpoint name.";
    } @else {
        @media (max-width: map-get(var.$breakpoints, $name)) {
            @content;
        }
    }
}

/* For using a flexbox with default properties as space-between,center and row for the justify-content, align-items
& flex-direction respectively */
@mixin flexbox($justify: space-between, $align: center, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin custom-utils($line-clamp: 3, $section-spacing: null) {
    -webkit-line-clamp: $line-clamp;
    @if ($section-spacing!=null) {
        padding: $section-spacing;
    }
}
