$primary-color: #5d50c6;
$secondary-text-color: #eeeeee;
$secondary-color: #ffffff;
$active-link-color: #222831;
$muted-text-color: #19182585;
$highlight-color: #f85e95;
$text-color: #000000;
$card-heading-color: #ff5722;
$newsletter-bg-color: #facd49;
$font-family-base: 'Circular Std';

$breakpoint-mobile: 480px;
$breakpoint-tablet: 769px;
$breakpoint-desktop: 1280px;
