@use '../abstracts/variables' as var;
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: var.$font-size-root;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: var.$muted-text-color;
    &:visited {
        color: lighten(var.$muted-text-color, 20%);
    }
    &:hover,
    &:focus {
        color: var.$active-link-color;
    }
    &:focus-visible {
        outline: 2px solid var.$active-link-color;
    }
}
ul,
ol {
    list-style: none;
}
body {
    font-family: var.$font-family-base;
    font-size: var.$font-size-primary;
    line-height: 1.5;
    color: var.$black;
}
section,
nav,
footer {
    max-width: map-get(var.$breakpoints, 'xl');
    margin: 0 auto;
}
