@use '../abstracts/variables' as var;

// Reset styles to ensure consistency across browsers
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Set default font size
html {
    font-size: var.$font-size-root;
}

// Set default styles for body and text elements
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

// Set default styles for lists
ul,
ol,
li {
    list-style: none;
}

// Set default styles for body
body {
    font-family: var.$font-family-base;
    font-size: var.$font-size-primary;
    line-height: 1.5;
    color: var.$black;
}
